.page {
  height: 100%;
}

.jumbotron {
  background-color: #fbfbfb !important;
  text-decoration-color: #2a3e53;
  margin: 10px 0px;
  padding: 50px 10px 65px !important;
}

.center {
  text-align: center;
}

img {
  bottom: 0;
}


.abt-btns {
  padding-top: 15px;
  margin: 0px;
  text-align: center;
}

.btn-primary {
  background-color: #748ea3;
  border-color: #748ea3;
  color: #f3f5f7;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2a3e53;
}

.navbar-default {
  background-color: #e7ecf0;
  background-image: none;
  background-repeat: no-repeat;
  text-decoration-color: #2a3e53;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navbar-brand {
  padding-left: 10px;
}

.abt-2 {
  padding: 70px 10px 70px !important;
}

.carousel-card {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}
.bg-2 {
  background-color: #e7ecf0;
}

.section-header {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

footer {
  color: #9db3c1;
  background-color: #2a3e53;
}

footer a,
.email {
  color: #e7ecf0;
}

footer a:hover {
  color: #748ea3;
}

.alert {
  display: none;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #a3b7c2;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container {
  margin-top: 72px;
  height: 100%;
}

.min-100 {
  min-height: 100%;
}

li:first-child {
  margin-left: 0px !important;
}

.card {
  padding: 10px;
  height: 100%;
  display: block;
}

.card > h4 {
  margin: 5px 0px 20px;
}
